.buttonStart-container {
  background-color: transparent;
  border-radius: 0.3em;
  border: 0.2em solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
  padding: 0.7em 2em;
  width: 100%;
}
.buttonStart-container:hover,
:focus {
  background-color: var(--red);
  border: 0.15em solid var(--red);
  color: #fff;
  outline: none;
}
