.difficulties-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.difficulties-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}
.difficulties-container section div:not(:first-of-type) {
  margin-top: 1em;
}
