.question-card-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.question-card-container header {
  background-color: #fff;
  border-radius: 0.3em;
  color: var(--orange);
  margin: 0 auto -1em auto;
  padding: 0.4em 0.7em;
  width: fit-content;
  z-index: 1;
}
.question-card-container section {
  animation: rightToOrigin 1s ease;
  background-color: #eaf5fa;
  border-radius: 0.3em;
  display: block;
  box-shadow: 0 0.1em 0.1em rgba(255, 220, 250, 0.25);
  color: #000;
  font-size: 1.2em;
  padding: 3em 2em;
}
@keyframes rightToOrigin {
  0% {
    opacity: 0;
    transform: translateX(1.5em);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
.question-card-container footer {
  background-color: #fff;
  border-radius: 0.3em;
  color: var(--orange);
  display: block;
  margin: -1em auto 0 auto;
  padding: 0.4em 0.7em;
  width: fit-content;
  z-index: 1;
}
