.radio-container {
  border-radius: 1em;
  background-color: #fff;
  margin: 0.5em 1em;
}
.radio-container input[type="radio"] {
  display: none;
}
.radio-container label {
  align-items: center;
  border: 0.15em solid var(--orange);
  border-radius: 0.3em;
  color: var(--orange);
  cursor: pointer;
  display: flex;
  font-size: 1.8em;
  font-weight: 500;
  padding: 0.1em 1em;
  position: relative;
}

.radio-container input[type="radio"]:checked + label {
  background-color: var(--orange);
  color: #fff;
}
.radio-container input[type="radio"]:checked + label::before {
  background-color: var(--orange);
  border: 0.3em solid #fff;
  color: #fff;
  height: 0.6em;
  width: 0.6em;
}
