body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --orange: #f5b461;
  --red: #ec524b;
  --beige: #f3eac2;
  --aqua-green: #9ad3bc;
}
#root {
  background-color: var(--aqua-green);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
